/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.textBold
{
  font-size: 3.3rem;
  font-weight: 500;
}
.tabs{
  background-color: rgba(0, 94, 255, 0.063);
  border-radius: 10px;
  color: rgba(35, 27, 184, 0.249);
}
.cardContainer{
  width: 100%;
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  gap:1rem;
  padding-Block: 2rem;
  padding-inline:2rem;
}
.main{
  padding-block: 2rem;
}