.darkNavbarColorModeToggle:hover {
  background: var(--ifm-color-gray-800);
}
.themeTransitionOverlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  pointer-events: none;
  background: var(--overlay-color);
  clip-path: circle(0% at var(--x) var(--y));
  transition: clip-path 700ms ease-in-out;
}

.themeTransitionOverlay.active {
  clip-path: circle(150% at var(--x) var(--y));
}

.darkNavbarColorModeToggle:hover {
  background: var(--ifm-color-gray-800);
}

.darkNavbarColorModeToggle {
  filter: brightness(0.85);
}
/* ICONOS */
.icon {
  position: absolute;
  font-size: 1.25rem;
  transition:
    transform 0.5s ease,
    opacity 0.4s ease;
}

.iconVisible {
  opacity: 1;
  transform: rotate(0deg) scale(1);
}

.iconHidden {
  opacity: 0;
  transform: rotate(180deg) scale(0.5);
}

/* OVERLAY */
.themeOverlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.13);
  clip-path: circle(0px at var(--x) var(--y));
  transition: clip-path 0.6s ease-in-out;
  pointer-events: none;
}

.themeOverlay.expand {
  clip-path: circle(150vmax at var(--x) var(--y));
}
