.section {
  padding: 5rem 0;
  background: var(--ifm-background-surface-color);
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

.title {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.bar {
  width: 4px;
  height: 2rem;
  border-radius: 999px;
}

.primary {
  background: var(--ifm-color-primary);
}

.secondary {
  background: var(--ifm-color-secondary);
}

/* cards */
.apiCard,
.updateCard {
  background: var(--ifm-card-background-color);
  padding: 1.25rem;
  border-radius: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.25s ease;
}

.apiCard:hover,
.updateCard:hover {
  transform: translateY(-2px);
  box-shadow: var(--ifm-global-shadow-md);
}
.bgbackgroundlight {
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 252 / var(--tw-bg-opacity, 1));
}
[data-theme='dark']{
.bgbackgroundlight {
    --tw-bg-opacity: 1;
    background-color:#0c151e;
}
}