.secondaryMenuContainer {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: var(--ifm-background-color);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  will-change: transform, opacity;
}

/* Oculto → Se mueve fuera de pantalla */
.hide {
  transform: translateX(100%);
  opacity: 0;
}

/* Visible → Dentro de la pantalla */
.show {
  transform: translateX(0%);
  opacity: 1;
}
