.tocCollapsible {
  background-color: var(--ifm-menu-color-background-active);
  border-radius: var(--ifm-global-radius);
  margin: 1rem 0;
}

.tocCollapsibleContent > ul {
  border-left: none;
  border-top: 1px solid var(--ifm-color-emphasis-300);
  padding: 0.2rem 0;
  font-size: 15px;
  width: 93%;
}
article ul li {
  list-style-type: none;
 
}

.tocCollapsibleContent ul li {
  margin: 0.4rem 0.8rem;
}

.tocCollapsibleContent a {
  display: block;
}

.tocCollapsibleExpanded {
  transform: none;
}
:root {

  article ul li a{
  
    color: rgb(21, 21, 21);
  }
}
[data-theme='dark'] {
  article ul li a{
  
    color: white;
  }
}
