.navbarHideable {
  transition: transform var(--ifm-transition-fast) ease;
}

.navbarHidden {
  transform: translate3d(0, calc(-100% - 2px), 0);
}
.backgroundNavbar{
  background-color: rgb(16, 16, 183);
}
