
.Card{ 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1.2rem;
    grid-row-gap: 0px;
}
@media screen and (max-width: 996px) {
    .Card {
      display: block;
    }
  }
  .Card div a {
    text-decoration: none;
    
    color: rgb(18, 17, 17);
  }
  